<div class="content-heading">
    <div class="d-flex justify-content-between w-100 align-items-center">
        <span>Add Store</span>
        <button class="btn btn-primary d-flex align-items-center" [routerLink]="'/shops'" type="button">
            <em _ngcontent-lgi-c20="" class="icon-arrow-left mr-1"></em> Back
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="spinner-border loading" role="status" *ngIf="loading"></div>
        <div class="card card-default">
            <div class="card-body">
                <form [formGroup]="valForm" class="form-validate" role="form" #dataPost="ngForm"
                    (ngSubmit)="addProduct($event, dataPost.value)" (keydown.enter)="$event.preventDefault()" (keydown.shift.enter)="$event.preventDefault()">
                    <div class="form-row">
                        <div class="col-lg-4 mb-4">
                            <label>Title (ENGLISH)</label>
                            <input
                            class="form-control with-focus" required formControlName="name" ngModel address="name"
                                type="text" placeholder="Enter title" />
                            <div class="text-danger"
                                *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">
                                Title is required</div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <label>Title (ARABIC)</label>
                            <input
                            class="form-control with-focus" required formControlName="name_arabic" ngModel address="name_arabic"
                                type="text" placeholder="Enter title" />
                            <div class="text-danger"
                                *ngIf="valForm.controls['name_arabic'].hasError('required') && (valForm.controls['name_arabic'].dirty || valForm.controls['name_arabic'].touched)">
                                Title is required</div>
                        </div>
                        <div class="col-lg-4 mb-4" *ngIf="loginType == 'WxAsS1whStfbgdXvxqHs'">
                            <label>Vendor</label>
                            <select class="custom-select" required formControlName="vendor_id" ngModel name="vendor" (change)="onChangeVendor($event.target.value)" >
                                <option value="">Select vendor</option>
                                <option value="{{ vendor.id }}" *ngFor="let vendor of vendorsList">{{ vendor.name
                                    }}</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="valForm.controls['vendor_id'].hasError('required') && (valForm.controls['vendor_id'].dirty || valForm.controls['vendor_id'].touched)">
                                Vendor is required</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <!-- <div class="col-lg-6 mb-4">
                            <div class="form-group">
                                <label>Choose image</label>
                                <label for="image-input" class="file-upload">
                                    <button class="btn btn-secondary">
                                        Select Image <em class="far fa-folder-open mr"></em></button>
                                    <input ngModel placeholder="Choose image" type="file" formControlName="image"
                                        name="image" class="form-control" (input)="onFileChanged($event)"
                                        accept=".jpeg,.jpg,.png,.svg">
                                    <span class="form-control" *ngIf="selectedFile?.name"> {{ selectedFile?.name }} </span>
                                    <span class="form-control" *ngIf="!selectedFile?.name"> {{ fileName }} </span>
                                </label>
                            </div>
                            <div class="image-preview-box">
                                <img class="previewImage" [src]="fileUrl" onerror="this.onerror=null;this.src='assets/img/preview-img.png';"/>
                                <span *ngIf="fileloading" class="spinner-border spinner-border-sm custom-spinner"></span>
                            </div>
                        </div> -->
                        <div class="col-lg-6 mb-4">
                            <div class="form-row">
                                <!-- <div class="col-9">
                                    <label>Do you accept delivery from here?</label>
                                    <ui-switch formControlName="isDelivery"></ui-switch>
                                </div> -->
                                <div class="col-lg-10 mb-4">
                                    <label>City</label>
                                    <select class="custom-select" required formControlName="city_id" ngModel name="city_id" (change)="onChangeCity($event.target.value)" >
                                        <option value="">Select city</option>
                                        <option value="{{ city.id }}" *ngFor="let city of cityList">{{ city.data.name_english
                                            }}</option>
                                    </select>
                                    <div class="text-danger"
                                        *ngIf="valForm.controls['city_id'].hasError('required') && (valForm.controls['city_id'].dirty || valForm.controls['city_id'].touched)">
                                        City is required</div>
                                </div>
                                <div class="col-2">
                                    <label>Active</label>
                                    <ui-switch formControlName="isEnabled"></ui-switch>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-row">
                        <div class="col-12 col-lg-9">
                            <label class="my-3"><b>Working day's</b></label>
                            <div class="d-flex align-items-center mb-2">
                                <label class="mb-0 w-25">Monday</label>

                                <ui-switch size="small" formControlName="isMonday" class="mx-4"></ui-switch>
                                <label class="mb-0 mr-4">Open</label>

                                <div class="input-group mr-4">
                                    <ngx-timepicker-field ngModel="9:00" formControlName="monday_open_time" [format]="24" [defaultTime]="'9:00'"></ngx-timepicker-field>
                                </div>
                                <div class="input-group">
                                    <ngx-timepicker-field ngModel="23:11" formControlName="monday_close_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mb-2">
                                <label class="mb-0 w-25">Tuesday</label>

                                <ui-switch size="small" formControlName="isTuesday" class="mx-4"></ui-switch>
                                <label class="mb-0 mr-4">Open</label>

                                <div class="input-group mr-4">
                                    <ngx-timepicker-field ngModel="9:00" formControlName="tuesday_open_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                                <div class="input-group">
                                    <ngx-timepicker-field ngModel="23:11" formControlName="tuesday_close_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mb-2">
                                <label class="mb-0 w-25">Wednesday</label>

                                <ui-switch size="small" formControlName="isWednesday" class="mx-4"></ui-switch>
                                <label class="mb-0 mr-4">Open</label>

                                <div class="input-group mr-4">
                                    <ngx-timepicker-field ngModel="9:00" formControlName="wednesday_open_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                                <div class="input-group">
                                    <ngx-timepicker-field ngModel="23:11" formControlName="wednesday_close_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mb-2">
                                <label class="mb-0 w-25">Thursday</label>

                                <ui-switch size="small" formControlName="isThursday" class="mx-4"></ui-switch>
                                <label class="mb-0 mr-4">Open</label>

                                <div class="input-group mr-4">
                                    <ngx-timepicker-field ngModel="9:00" formControlName="thursday_open_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                                <div class="input-group">
                                    <ngx-timepicker-field ngModel="23:11" formControlName="thursday_close_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mb-2">
                                <label class="mb-0 w-25">Friday</label>

                                <ui-switch size="small" formControlName="isFriday" class="mx-4"></ui-switch>
                                <label class="mb-0 mr-4">Open</label>

                                <div class="input-group mr-4">
                                    <ngx-timepicker-field ngModel="9:00" formControlName="friday_open_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                                <div class="input-group">
                                    <ngx-timepicker-field ngModel="23:11" formControlName="friday_close_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mb-2">
                                <label class="mb-0 w-25">Saturday</label>

                                <ui-switch size="small" formControlName="isSaturday" class="mx-4"></ui-switch>
                                <label class="mb-0 mr-4">Open</label>

                                <div class="input-group mr-4">
                                    <ngx-timepicker-field ngModel="9:00" formControlName="saturday_open_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                                <div class="input-group">
                                    <ngx-timepicker-field ngModel="23:11" formControlName="saturday_close_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mb-2">
                                <label class="mb-0 w-25">Sunday</label>

                                <ui-switch size="small" formControlName="isSunday" class="mx-4"></ui-switch>
                                <label class="mb-0 mr-4">Open</label>

                                <div class="input-group mr-4">
                                    <ngx-timepicker-field ngModel="9:00" formControlName="sunday_open_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                                <div class="input-group">
                                    <ngx-timepicker-field ngModel="23:11" formControlName="sunday_close_time" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-row">
                        <div class="col-lg-6 mt-3 mb-4">
                            <label>Address</label>
                            <input #addresstext
                            class="form-control with-focus" required formControlName="address" [(ngModel)]="pickedAddress" address="address"
                                type="text" placeholder="Enter address" />
                            <div class="text-danger"
                                *ngIf="valForm.controls['address'].hasError('required') && (valForm.controls['address'].dirty || valForm.controls['address'].touched)">
                                Address is required</div>
                        </div>
                        <div class="col-12 mb-4">
                            <agm-map 
                                [latitude]="lat"
                                [longitude]="lng"
                                [zoom]="zoom"
                                [disableDefaultUI]="false"
                                [mapTypeControl]="true"
                                [zoomControl]="false"
                                [usePanning]="true">

                                <agm-marker 
                                    *ngFor="let m of markers; let i = index"
                                    (markerClick)="clickedMarker(m.label, i)"
                                    [latitude]="m.lat"
                                    [longitude]="m.lng"
                                    [markerDraggable]="m.draggable"
                                    (dragEnd)="markerDragEnd(m, $event)">
                                    
                                    <agm-info-window>
                                        <strong>{{m.label}}</strong>
                                    </agm-info-window>
                                </agm-marker>
                            </agm-map>
                        </div>
                    </div>
                    
                    <button class="btn btn-sm btn-secondary mr-2" (click)="dataPost.resetForm({})"
                        type="button">Clear</button>
                    <button class="btn btn-sm btn-info" type="submit">Save<span *ngIf="saveLoading" class="spinner-border spinner-border-sm ml-2"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>