<footer class="footer-section light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="footer_col_card">
                    <div class="footer_logo">
                        <img src="../../assets/logo_light.svg" />
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="footer_col_card">
                    <h3>Information</h3>
                    <div class="footerlink">
                        <li><a href="">New products</a></li>
                        <li><a href="">On Sale</a></li>
                        <li><a href="">Flower</a></li>
                        <li><a href="">Wedding gifts</a></li>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="footer_col_card">
                    <h3>Get in Touch</h3>
                    <div class="footer_address">
                        <li>
                            <div class="footer_icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="footer_address_line">
                                Address: 5171 Lorem Ipsum is simply,dummy text of the printing and typesetting
                            </div>
                        </li>
                        <li>
                            <div class="footer_icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="footer_address_line">
                                Address: 5171 Lorem Ipsum is simply,dummy text of the printing and typesetting
                            </div>
                        </li>
                        <li>
                            <div class="footer_icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="footer_address_line">
                                Email: sale@Lorem.com
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="copyright_footer">
                    © 2023 Giftto, All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>