<section class="breadcum-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Contact</li>
                    </ol>
                </nav>
            </div>
        </div>        
    </div>
</section>

<section class="contact-section">
    <div class="container">        
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">  
                <div class="row mt-4 ">
                    <div class="col-12 text-center">
                        <h2 class="page_title">Get In Touch With Gift to</h2>
                        <p class="page_subtitle">Contact us if you have any questions about our products. We will try to
                            provide an answer back to you the same day.</p>
                    </div>                  
                </div> 

                <div class="row mt-4">
                    <div class="col-12">
                        <form class="contact_form">
                            <div class="row">
                                <div class="col-12 mb-3 text-center">
                                    <h4>Leave a message</h4>
                                </div>
                                <div class="col-12 col-md-6">
                                      <label>Your Name</label>
                                      <input type="text" class="form-control">
                                </div>
                                <div class="col-12 col-md-6">
                                    <label>Your Phone Number</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-12 col-md-12">
                                    <label>Your Email Address</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-12 col-md-12">
                                    <label>Your Message</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                                <div class="col-12 col-md-12  mt-4 text-center">
                                    <button class="base_btn base_primary mt-3 ">Send a Message</button>
                                </div>
                            </div>
                        </form>
                    </div>                  
                </div> 
            </div>          
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="authLogin" tabindex="-1" aria-labelledby="authLoginLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">       
        <div class="modal-body">
             <form>
                 <div class="authform">
                     <div class="row">
                         <div class="col-12">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button>
                         </div>
                        <div class="col-12 col-lg-6">
                            <div class="authleft_col">
                                <img src="../../assets/logo_dark.svg" class="mb-5" >
                                <h3>Welcome to Giftstore</h3>
                                <p>To browse some of the largest collection of  gifts to brighten your day to login your accout.</p>

                                <div class="authlink">Not account yet? <span class="opensignupmodal">Register</span></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="authright_col">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>Login your Account</h3>
                                    </div>
                                    <div class="col-12">
                                        <label>Phone Number </label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-12 mt-5">
                                        <button type="submit" class="form_submit_btn">
                                            Send OTP
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                 </div>
             </form>   
        </div>        
      </div>
    </div>
  </div>



  <!-- Modal -->
<div class="modal fade" id="authSignup" tabindex="-1" aria-labelledby="authSignupLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">       
        <div class="modal-body">
             <form>
                 <div class="authform">
                     <div class="row">
                         <div class="col-12">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button>
                         </div>
                        <div class="col-12 col-lg-6">
                            <div class="authleft_col">
                                <img src="../../assets/logo_dark.svg" class="mb-5" >
                                <h3>Welcome to Giftstore</h3>
                                <p>To browse some of the largest collection of  gifts to brighten your day to login your accout.</p>

                                <div class="authlink">Already have account ? <span class="openloginmodal">Login</span></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="authright_col">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>Create your Account</h3>
                                    </div>
                                    <div class="col-12">
                                        <label>Name </label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-12">
                                        <label>Email Address </label>
                                        <input type="email" class="form-control">
                                    </div>
                                    <div class="col-12">
                                        <label>Phone </label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-12 mt-5">
                                        <button type="submit" class="form_submit_btn">
                                            Send OTP
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                 </div>
             </form>   
        </div>        
      </div>
    </div>
</div>