<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center main-bg-color">
                HodHod
            </div>
            <div class="card-body">
                <form [formGroup]="valForm" class="form-validate" role="form" name="recoverForm" novalidate="" (submit)="onSubmitChangePassword($event, valForm.value)" (keydown.enter)="$event.preventDefault()" (keydown.shift.enter)="$event.preventDefault()">
                    <p class="text-center mt-2 mb-3">RESET PASSWORD</p>
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="password" name="password" placeholder="Password" autocomplete="off" formControlName="password" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-lock"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">This field is required</div>
                        <div class="text-danger" *ngIf="valForm.controls['password'].hasError('password') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">This field must be a valid email address</div>
                    </div>
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="password" name="confirmpassword" placeholder="Confirm password" autocomplete="off" formControlName="confirmpassword" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-lock"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['confirmpassword'].hasError('required') && (valForm.controls['confirmpassword'].dirty || valForm.controls['confirmpassword'].touched)">This field is required</div>
                        <div class="text-danger" *ngIf="valForm.controls['confirmpassword'].hasError('confirmpassword') && (valForm.controls['confirmpassword'].dirty || valForm.controls['confirmpassword'].touched)">This field must be a valid email address</div>
                    </div>
                    <div class="form-group">
                        <div class="float-right mb-3">
                            <a class="main-text-color" [routerLink]="'/login'"><u>Back to login</u></a>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Send</button>
                </form>
            </div>
        </div>
        <!-- END card-->
        <div class="p-3 text-center">
            <span>&copy; &nbsp;</span>
            <!-- <span>{{ settings.getAppSetting('year') }}</span>
            <span class="mx-2">-</span>
            <span>{{ settings.getAppSetting('name') }}</span>
            <br/> -->
            <span>{{ settings.getAppSetting('description') }}</span>
        </div>
    </div>
</div>
