<!-- START card-->
<div class="content-heading">
    <div class="d-flex justify-content-between w-100 align-items-center">
        <span>Add city</span>
        <button class="btn btn-primary d-flex align-items-center" [routerLink]="'/cities'" type="button">
            <em _ngcontent-lgi-c20="" class="icon-arrow-left mr-1"></em> Back
        </button>
    </div>
</div><!-- START row-->
<div class="row">
    <div class="col-md-12">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-body">
                <form [formGroup]="valForm" class="form-validate" role="form" #dataPost="ngForm"
                    (ngSubmit)="addCity($event, dataPost.value)" (keydown.enter)="$event.preventDefault()"
                    (keydown.shift.enter)="$event.preventDefault()">
                    <div class="form-row">
                        <div class="col-12 col-md-4">
                            <label>City (Pick city from google locations.)</label>
                            <input #citytext class="form-control with-focus" required formControlName="city" city="city"
                                type="text" placeholder="Enter atleast 3 words..." />
                            <div class="text-danger"
                                *ngIf="valForm.controls['city'].hasError('required') && (valForm.controls['city'].dirty || valForm.controls['city'].touched)">
                                City is required</div>
                        </div>
                        <div class="col-12 col-md-3">
                            <label>City In English</label>
                            <input class="form-control with-focus" required formControlName="city_english" type="text"
                                 placeholder="Enter City in English" />
                            <div class="text-danger"
                                *ngIf="valForm.controls['city_english'].hasError('required') && (valForm.controls['city_english'].dirty || valForm.controls['city_english'].touched)">
                                City is required</div>
                        </div>
                        <div class="col-12 col-md-3">
                            <label>City In Arabic</label>
                            <input class="form-control with-focus" formControlName="city_arabic" type="text"
                                placeholder="Enter City in Arabic" />
                        </div>
                        <div class="col-12 col-md-2">
                            <label>Active</label>
                            <ui-switch formControlName="isEnabled"></ui-switch>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-info mt-2" type="submit">Save<span *ngIf="saveLoading"
                            class="spinner-border spinner-border-sm ml-2"></span></button>
                </form>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>
<!-- END row-->