<!-- <section class="gotgift-section">
    <div class="container px-0">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <div class="gotgift-area py-5 px-2">
                    <h1 class="text-center text-light">Wow! You have<br> got a Gift</h1>
                    <div class="gotgift-img-box text-center">
                        <img src="{{this.gifImage}}" class="gotgift-img" [routerLink]="'/claim-gift'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="gotgift-section" *ngIf="isLoading">
    <div class="container px-0">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <div class="gotgift-area py-5 px-2">
                    <h1 class="text-center text-light">Wow! You have<br> got a Gift</h1>
                    <div class="gotgift-img-box text-center" *ngIf="isLoading">
                        <!-- <img src="assets/img/gotgift.png" class="gotgift-img" [routerLink]="'/claim-gift'"> -->
                        <img src="{{this.gifImage}}" class="gotgift-img" [routerLink]="'/claim-gift'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gotgift-section" *ngIf="!isLoading">
    <div class="container px-0">
        <div class="row">
            <!-- <div class="loader-area" *ngIf="isLoading"
                style=" width: 100%; height: 100%; background: #ffffff; position: absolute; z-index: 1054; top: 0; left: 0; ">
                <div class="spinner-border loading" role="status"></div>
            </div> -->

            <div class="col-12 col-md-6 mx-auto px-0">
                <div class="seegift-area">
                    <div class="seegift-header">
                        <h4 class="mb-1">There's a present for you from</h4>
                        <h3>{{sender_name || 'N/A'}}</h3>
                    </div>
                    <div class="seegift-detail-box">
                        <div class="seegift-img-box text-center">
                            <!-- <img *ngIf="!this.product_image" src="assets/img/gift.png" class="seegift-img"> -->
                            <img *ngIf="this.product_image" src="{{this.product_image}}" class="seegift-img">
                        </div>
                        <div class="qrcode-box d-flex mt-3">
                            <div class="card" style="width: 40%;">
                                <div class="card-body p-0">
                                    <div class="qrcode">
                                        <!-- [width]="150" -->
                                        <qrcode [qrdata]="qrCodeData" [width]="140" [errorCorrectionLevel]="'M'"
                                            cssClass="qrcode" [elementType]="'img'" class="text-center qrcode-img">
                                        </qrcode>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="width: 60%;">
                                <div class="card-body  p-0 d-flex align-items-center justify-content-center">
                                    <div class="gift-info">
                                        <p>Unique Identifier</p>
                                        <h4>{{unique_Identifier}}</h4>
                                        <p class="mb-0">PIN - <strong style="color: #EB2355">{{pin}}</strong></p>
                                        <p class="mb-0">To be used within: <strong> {{left_days}} days</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="seegift-about">
                                    <h3 class="text-center seegift-about-heading">About</h3>
                                    <p class="seegift-about-info">{{description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>