<header class="header_card">
    <div class="header_card_top">
        <h4>Welcome to our online store!</h4>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../assets/logo_dark.svg" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav header_search">
                    <li>
                        <div class="header_card_search">
                            <input type="text" class="form-control" placeholder="Search" />
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto header_action_list">
                    <li class="nav-item">
                        <div class="header_card_cartbox">
                            <div class="header_card_cart_icon">
                                <i class="fa fa-cart-shopping"></i>
                            </div>
                            <div class="header_card_cart_content">
                                <p>Cart 0 item(s)</p>
                                <h4>$0.00</h4>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="header_card_accountbox">
                            <div class="header_card_account_icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="header_card_account_content">
                                <p *ngIf="!OTP">Account</p>
                                <p *ngIf="OTP">Hi, Guest</p>
                                <h4 *ngIf="!OTP" role="button" class="" data-bs-toggle="modal" data-bs-target="#authLogin">Login/Signup</h4>
                                <h4 *ngIf="OTP" role="button" class="" (click)="logout()">Logout</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<nav class="navbar navbar-expand-lg menu_box">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Shop</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/faq">FAQ's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto menu_right align-items-center">
                <!-- <li class="nav-item me-4"><i class="fa fa-map-marker-alt me-2"></i>Riyadh</li> -->
                <li class="nav-item me-4">
                    <ngx-select [autoClearSearch]="true" name="city" [multiple]="false" [items]="citiyItems" optionValueField="id" [(ngModel)]="selectedAddress" optionTextField="text" [disabled]="disabled" class="city-select" placeholder="No city selected" (ngModelChange)="onChangeCity($event)"></ngx-select>
                </li>
                <li class="nav-item dropdown">
                    <i class="fa fa-globe me-2"></i> 
                    <select class="lang_dropdown">
                        <option value="english">English</option>
                        <option value="arabic">Arabic</option>
                    </select>
                </li>         
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" #authLogin id="authLogin" tabindex="-1" aria-labelledby="authLoginLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="authform">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="authleft_col">
                                <img src="../../assets/logo_dark.svg" class="mb-5" />
                                <h3>Welcome to Giftstore</h3>
                                <p>To browse some of the largest collection of gifts to brighten your day to login your accout.</p>

                                <div class="authlink">Not account yet? <span class="opensignupmodal cursor-pointer" (click)="onClickRegisterLink()">Register</span></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="authright_col" [hidden]="loginSuccessfull">
                                <form [formGroup]="valLoginForm" class="form-validate mb-3" role="form" name="loginForm" novalidate="" (submit)="submitLoginForm(valLoginForm.value)">
                                    <div class="row">
                                        <div class="col-12">
                                            <h3>Login your Account</h3>
                                        </div>
                                        <div class="col-12">
                                            <label>Phone Number </label>
                                            <input formControlName="phone" #phone ngModel type="number" class="form-control" />
                                        </div>
                                        <div class="col-12 mt-5">
                                            <button type="submit" class="form_submit_btn">
                                                Send OTP
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="authright_col" [hidden]="!loginSuccessfull">
                                <form [formGroup]="valVerifyForm" class="form-validate mb-3" role="form" name="verifyForm" novalidate="" (submit)="submitVerifyForm(valVerifyForm.value)">
                                    <div class="row">
                                        <div class="col-12">
                                            <h3>Verify your Otp</h3>
                                        </div>
                                        <div class="col-12">
                                            <label>Otp </label>
                                            <input formControlName="otp" #otp ngModel type="number" class="form-control" />
                                        </div>
                                        <div class="col-12 mt-5">
                                            <button type="submit" class="form_submit_btn">
                                                Verify
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="authSignup" tabindex="-1" aria-labelledby="authSignupLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form [formGroup]="valRegisterForm" class="form-validate mb-3" autocomplete="off" role="form" name="registerForm" novalidate="" (submit)="submitRegisterForm(valRegisterForm.value)">
                    <div class="authform">
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="authleft_col">
                                    <img src="../../assets/logo_dark.svg" class="mb-5" />
                                    <h3>Welcome to Giftstore</h3>
                                    <p>To browse some of the largest collection of gifts to brighten your day to login your accout.</p>

                                    <div class="authlink">Already have account ? <span class="openloginmodal cursor-pointer" (click)="onClickLoginLink()">Login</span></div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="authright_col">
                                    <div class="row">
                                        <div class="col-12">
                                            <h3>Create your Account</h3>
                                        </div>
                                        <div class="col-12">
                                            <label>Name </label>
                                            <input formControlName="name" ngModel type="text" class="form-control" />
                                        </div>
                                        <div class="col-12">
                                            <label>Email Address </label>
                                            <input formControlName="email" ngModel type="email" class="form-control" />
                                        </div>
                                        <div class="col-12">
                                            <label>Phone </label>
                                            <input formControlName="phone" ngModel type="number" class="form-control" />
                                        </div>
                                        <div class="col-12 mt-5">
                                            <button type="submit" class="form_submit_btn">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>