<!-- <div class="content-heading">
    <div>
        Dashboard
    </div>
</div> -->
<div class="header-text">Dashboard</div>
<div class="row">
    <!-- <div class="col-xl-2 col-md-4 px-2">
        <div class="card dashboard-card border-0">
            <div class="dashboard-card-top col-12 text-right py-3">
                <em class="fas fa-arrow-up dashboard-arrow-icon"></em>
            </div>
            <div class="dashboard-card-bottom col-12 py-3">
                <em class="fas fa-sitemap dashboard-card-icon mb-2"></em>
                <div class="dashboard-card-heading">Categories</div>
                <div class="h2 mt-0 mb-0 dashboard-card-count">{{counts?.categories || 0}}</div>
            </div>
        </div>
    </div> -->

    <div class="col-xl-2 col-md-4 px-2" [routerLink]="'/products'">
        <!-- dashboard-active-card -->
        <div class="card dashboard-card  border-0">
            <div class="dashboard-card-top col-12 text-right py-3">
                <em class="fas fa-arrow-up dashboard-arrow-icon"></em>
            </div>
            <div class="dashboard-card-bottom col-12 py-3">
                <em class="fas fa-list dashboard-card-icon mb-2"></em>
                <div class="dashboard-card-heading">Products</div>

                <div class="h2 mt-0 mb-0 dashboard-card-count">{{counts?.products || 0}}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-md-4 px-2" [routerLink]="'/vendors'">
        <div class="card dashboard-card border-0">
            <div class="dashboard-card-top col-12 text-right py-3">
                <em class="fas fa-arrow-up dashboard-arrow-icon"></em>
            </div>
            <div class="dashboard-card-bottom col-12 py-3">
                <em class="fas fa-shopping-basket dashboard-card-icon mb-2"></em>
                <div class="dashboard-card-heading">Vendors</div>
                <div class="h2 mt-0 mb-0 dashboard-card-count">{{counts?.vendors || 0}}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-md-4 px-2" [routerLink]="'/orders'">
        <div class="card dashboard-card border-0">
            <div class="dashboard-card-top col-12 text-right py-3">
                <em class="fas fa-arrow-up dashboard-arrow-icon"></em>
            </div>
            <div class="dashboard-card-bottom col-12 py-3">
                <em class="fas fa-credit-card dashboard-card-icon mb-2"></em>
                <div class="dashboard-card-heading">Payments</div>
                <div class="h2 mt-0 mb-0 dashboard-card-count">{{counts?.orders || 0}}</div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 px-2">
        <div class="card dashboard-card border-0">
            <div class="dashboard-card-top col-12 text-right py-3">
                <em class="fas fa-arrow-up dashboard-arrow-icon"></em>
            </div>
            <div class="dashboard-card-bottom col-12 py-3">
                <em class="fas fa-gift dashboard-card-icon mb-2"></em>
                <div class="dashboard-card-heading">Redeemed Gifts</div>
                <div class="h2 mt-0 mb-0 dashboard-card-count">{{totalRedeemedGifts?totalRedeemedGifts: 0}}</div>
            </div>
        </div>
    </div>
</div>


<!-- START cards box-->
<div class="row">
    <div class="col-xl-6 col-md-6">
        <div class="card card-default">
            <div class="card-header d-flex align-items-center justify-content-between py-4">
                <h4 class="mb-0">Categories List</h4>
                <button class="mr-1 btn btn-info comn-action-btn" type="button" [routerLink]="'/categories'">
                    View all
                </button>
            </div>
            <div class="card-body">
                <!-- START table-responsive-->
                <div class="table-responsive table-striped">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="border-top">
                                <th width="70px">Sr. No.</th>
                                <th>Image</th>
                                <th>Category Name</th>
                                <th>Color</th>
                                <th>Active</th>
                                <!-- <th></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of limitedCategories; let i = index">
                                <td width="70px">{{ i + 1 }}</td>
                                <td>
                                    <div class="media" *ngIf="category.image">
                                        <img class="img-fluid circle" src="{{category.image}}" alt="Image" />
                                    </div>
                                    <div class="media" *ngIf="!category.image">
                                        <img class="img-fluid circle"
                                            src="https://image.freepik.com/free-vector/3d-realistic-faceless-human-model_1441-2189.jpg"
                                            alt="Image" />
                                    </div>
                                </td>
                                <td>{{ category.name }}</td>
                                <td>
                                    <div
                                        style="height: 20px; width: 20px; border-radius: 10px; background-color: {{category.color}};">
                                    </div>
                                </td>
                                <th>{{category.is_enabled ? 'Yes': 'No'}}</th>
                                <!-- <td>
                                    <div class="d-flex align-items-center">
                                        <button class="mr-1 btn btn-danger comn-action-btn mb-1" type="button" (click)="deleteUserData(category.id)">
                                            <em _ngcontent-lgi-c20="" class="fas fa-trash"></em>
                                        </button>
                                        <button class="mr-1 btn btn-primary comn-action-btn mb-1" type="button" routerLink="/users/view-user/{{category.id}}">
                                            <em _ngcontent-lgi-c20="" class="fas fa-eye"></em>
                                        </button>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6">
        <div class="card card-default">
            <div class="card-header d-flex align-items-center justify-content-between py-4">
                <h4 class="mb-0">Products List</h4>
                <button class="mr-1 btn btn-info comn-action-btn" type="button" [routerLink]="'/products'">
                    View all
                </button>
            </div>
            <div class="card-body">
                <!-- START table-responsive-->
                <div class="table-responsive table-striped">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="border-top">
                                <th>Sr. No.</th>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Active</th>
                                <!-- <th></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of limitedProducts; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>
                                    <div class="media" *ngIf="product.image">
                                        <img class="img-fluid circle" src="{{product.image}}" alt="Image" />
                                    </div>
                                    <div class="media" *ngIf="!product.image">
                                        <img class="img-fluid circle"
                                            src="https://image.freepik.com/free-vector/3d-realistic-faceless-human-model_1441-2189.jpg"
                                            alt="Image" />
                                    </div>
                                </td>
                                <td>{{ product.name }}</td>
                                <th>{{product.is_enabled ? 'Yes': 'No'}}</th>
                                <!-- <td>
                                    <div class="d-flex align-items-center">
                                        <button class="mr-1 btn btn-danger comn-action-btn mb-1" type="button" (click)="deleteStitchData(product.id)">
                                            <em _ngcontent-lgi-c20="" class="fas fa-trash"></em>
                                        </button>
                                        <button class="mr-1 btn btn-primary comn-action-btn mb-1" type="button" routerLink="/stitches/view-stitch/{{product.id}}">
                                            <em _ngcontent-lgi-c20="" class="fas fa-eye"></em>
                                        </button>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<!-- END cards box-->