a{
    text-transform: capitalize !important;
}
.sidebar-nav > li.active, .sidebar-nav > li.active > a, .sidebar-nav > li.active > .nav-item, .sidebar-nav > li.active .sidebar-nav, .sidebar-nav > li.open, .sidebar-nav > li.open > a, .sidebar-nav > li.open > .nav-item, .sidebar-nav > li.open .sidebar-nav {
    background-color: #EDFFF4 !important;
}
.sidebar-logout{
    background: #FFE2E2;
    border-left-color: #EB2355 !important;
    margin-top: 30px;
}
.sidebar-logout a{
    color: #FF4545;
}