<!-- START card-->
<div class="content-heading">
    <div class="d-flex justify-content-between w-100 align-items-center">
       <span>Add occasions</span>
        <button class="btn btn-primary d-flex align-items-center" [routerLink]="'/occasions/list'" type="button">
            <em _ngcontent-lgi-c20="" class="icon-arrow-left mr-1"></em> Back
        </button>
    </div>
</div><!-- START row-->
<div class="row">
    <div class="col-md-12">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-body">
                <form [formGroup]="valForm" class="form-validate" role="form" #dataPost="ngForm"
                    (ngSubmit)="addOccasions($event, dataPost.value)" (keydown.enter)="$event.preventDefault()" (keydown.shift.enter)="$event.preventDefault()">
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-row">
                                <div class="col-12 col-md-10">
                                    <label>Title</label>
                                    <input class="form-control with-focus" ngModel required formControlName="title" type="text" placeholder="Enter title" />
                                    <div class="text-danger"
                                        *ngIf="valForm.controls['title'].hasError('required') && (valForm.controls['title'].dirty || valForm.controls['title'].touched)">
                                        Title is required</div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <label>Active</label>
                                    <ui-switch formControlName="isEnabled"></ui-switch>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label>Choose Gif</label>
                                <label for="gif-input" class="file-upload">
                                    <button class="btn btn-secondary">
                                    Select Gif <em class="far fa-folder-open mr"></em></button>
                                    <input ngModel placeholder="Choose gif" type="file"
                                    formControlName="gif" name="gif" class="form-control"
                                    (input)="onFileChanged($event)" accept=".gif">
                                    <span class="form-control" *ngIf="selectedFile?.name"> {{ selectedFile?.name }} </span>
                                </label>
                                <div class="image-preview-box">
                                    <img class="previewImage" [src]="fileUrl" onerror="this.onerror=null;this.src='assets/img/preview-img.png';"/>
                                    <!-- Progress Bar -->
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm custom-spinner"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-info mt-2" type="submit">Save<span *ngIf="saveLoading" class="spinner-border spinner-border-sm ml-2"></span></button>
                </form>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>
<!-- END row-->