
<!-- START card-->
<div class="content-heading">
    <div class="d-flex justify-content-between w-100 align-items-center">
       <span>Edit category</span>
        <button class="btn btn-primary d-flex align-items-center" [routerLink]="'/categories'" type="button">
            <em _ngcontent-lgi-c20="" class="icon-arrow-left mr-1"></em> Back
        </button>
    </div>
 </div><!-- START row-->
<div class="row">
    <div class="col-md-12">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-body">
                <form [formGroup]="valForm" class="form-validate" role="form" #dataPost="ngForm"
                        (ngSubmit)="updateCategoryData($event, dataPost.value);" *ngIf="Category" (keydown.enter)="$event.preventDefault()" (keydown.shift.enter)="$event.preventDefault()">
                        <div class="form-row">
                            <div class="col-lg-6 mb-3">
                                <label>Category (ENGLISH)</label>
                                <input class="form-control with-focus" [(ngModel)]="Category.name"
                                    formControlName="name" name="name" type="text"
                                    placeholder="Enter category" />
                                <div class="text-danger"
                                    *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">
                                    Name is required</div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <label>Category (ARABIC)</label>
                                <input class="form-control with-focus" formControlName="name_arabic" [(ngModel)]="Category.name_arabic" name="name_arabic" type="text" placeholder="Enter name" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6 mb-3">
                                <div class="form-group">
                                    <label>Choose image</label>
                                    <label for="image-input" class="file-upload">
                                        <button class="btn btn-secondary">
                                        Select file  <em class="far fa-folder-open mr"></em></button>
                                        <input ngModel placeholder="Choose category image" type="file" formControlName="file" name="file" class="form-control" (input)="onFileChanged($event)" accept=".jpeg,.jpg,.png,.svg"> 
                                        <span class="form-control" *ngIf="selectedFile?.name"> {{ selectedFile?.name }} </span>
                                        <span class="form-control" *ngIf="!selectedFile?.name"> {{ fileName }} </span>
                                    </label>
                                    <div class="text-danger" *ngIf="valForm.controls['file'].hasError('required') && (valForm.controls['file'].dirty || valForm.controls['file'].touched)">Image is required</div>
                                </div>
                                <div class="image-preview-box">
                                    <img class="previewImage" [src]="fileUrl"  onerror="this.onerror=null;this.src='assets/img/preview-img.png';"/>
                                    <!-- Progress Bar -->
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm custom-spinner"></span>
                                </div>
                            </div>
                            <div class="col-lg-2 mb-3" style="justify-content: center; align-items: center;">
                                <label>Active</label>
                                <ui-switch [(ngModel)]="Category.is_enabled" formControlName="isEnabled"></ui-switch>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <label>Color</label>
                                <color-chrome color="{{color}}" (onChange)="handleColorChange($event)"></color-chrome>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-secondary mr-2" [routerLink]="'/categories'"
                            type="button">Cancel</button>
                        <button class="btn btn-sm btn-info" type="submit">Save</button>
                    </form>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>
<!-- END row-->