<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="user-block-picture" (click)="logoutPopup()">
        <div class="user-block-status">
            <img class="img-thumbnail rounded-circle" src="{{image}}" alt="Avatar" />
            <div class="circle bg-success circle-lg"></div>
        </div>
    </div>
    <!-- Name and Job-->
    <!-- <div class="user-block-info"> -->
    <!-- <span class="user-block-name">{{full_name}}</span> -->
    <!-- <div class="user-block-role"> -->
    <!-- <span *ngIf="adminName">{{adminName}}</span> -->
    <!-- <span *ngIf="adminTypeName">{{', ' + adminTypeName}}</span> -->
    <!-- <span *ngIf="loginTypeName">{{', ' + loginTypeName}}</span> -->
    <!-- </div> -->
    <!-- </div> -->
</div>