.seegift-area{
    background: #EB2355;
}
.seegift-header{
    text-align: center;
    color: #ffffff;
    padding: 30px 0px 100px 0px;
}
.seegift-detail-box{
    background: #ffffff;
    border-radius: 30px 20px 0px 0px;
    padding: 10px;
    height: 100%;
}
.seegift-img-box{
    margin-top: -94px;
}
.seegift-img{
    width: 165px;
    object-fit: contain;
}
.gift-info{
    text-align: center;
}
.seegift-about-heading{
    color: #000;
}
.seegift-about-info{
    font-size: 14px;
    font-weight: 500;
    color: #626262;
}
.gift-info p{
    font-size: 14px;
    color: #ADADAD;
}
.gift-info h4{
    font-size: 14px;
    color: #323232;
}
.gift-info strong{
    font-size: 14px;
    color: #323232;
}