<div class="b custom-tab-header">
    <a class="custom-tab-item" (click)="filterActive=1" [ngClass]="{'active': (filterActive == 1)}">Filters</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div *ngIf="filterActive == 1">
                <!-- START row-->
                <div class="row">
                    <div class="col-12 col-md-12">
                        <!-- START card-->
                        <div class="card card-default">
                            <div class="card-body">
                                <form [formGroup]="valForm" class="form-validate" role="form" #dataPost="ngForm" (ngSubmit)="updateSettingData($event, dataPost.value)" *ngIf="Setting[0] && Setting[1]" (keydown.enter)="$event.preventDefault()" (keydown.shift.enter)="$event.preventDefault()">
                                    <div class="form-row">
                                        <div class="col-lg-12 mb-3">
                                            <label class="mb-3 text-primary"><strong>Price range</strong></label>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label>Max</label>
                                                    <input class="form-control with-focus" required formControlName="max" [(ngModel)]="Setting[0].max" name="max" type="number" placeholder="Enter max value" />
                                                    <div class="text-danger" *ngIf="valForm.controls['max'].hasError('required') && (valForm.controls['max'].dirty || valForm.controls['max'].touched)">This field is required</div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Min</label>
                                                    <input class="form-control with-focus" required formControlName="min" [(ngModel)]="Setting[0].min" name="min" type="number" placeholder="Enter min value" />
                                                    <div class="text-danger" *ngIf="valForm.controls['min'].hasError('required') && (valForm.controls['min'].dirty || valForm.controls['min'].touched)">This field is required</div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Name</label>
                                                    <input class="form-control with-focus" required formControlName="priceName" [(ngModel)]="Setting[0].name" name="priceName" type="text" placeholder="Enter name" />
                                                    <div class="text-danger" *ngIf="valForm.controls['priceName'].hasError('required') && (valForm.controls['priceName'].dirty || valForm.controls['priceName'].touched)">This field is required</div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Type</label>
                                                    <input class="form-control with-focus" required formControlName="priceType" [(ngModel)]="Setting[0].type" name="priceType" type="text" placeholder="Enter type" />
                                                    <div class="text-danger" *ngIf="valForm.controls['priceType'].hasError('required') && (valForm.controls['priceType'].dirty || valForm.controls['priceType'].touched)">This field is required</div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Position</label>
                                                    <ngx-select class="custom-single-select" required [(ngModel)]="Setting[0].position" formControlName="pricePosition" name="pricePosition" optionValueField="id" optionTextField="text" 
                                                    (data)="value" [multiple]="false"  [items]="positionItems" [disabled]="disabled" placeholder="Select position"></ngx-select>
                                                    <div class="text-danger" *ngIf="valForm.controls['pricePosition'].hasError('required') && (valForm.controls['pricePosition'].dirty || valForm.controls['pricePosition'].touched)">store is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                            <label class="mb-3 text-primary"><strong>Type of a gifts</strong></label>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label>Name</label>
                                                    <input class="form-control with-focus" required formControlName="giftName" [(ngModel)]="Setting[1].name" name="giftName" type="text" placeholder="Enter name" />
                                                    <div class="text-danger" *ngIf="valForm.controls['giftName'].hasError('required') && (valForm.controls['giftName'].dirty || valForm.controls['giftName'].touched)">This field is required</div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Type</label>
                                                    <input class="form-control with-focus" required formControlName="giftType" [(ngModel)]="Setting[1].type" name="giftType" type="text" placeholder="Enter type" />
                                                    <div class="text-danger" *ngIf="valForm.controls['giftType'].hasError('required') && (valForm.controls['giftType'].dirty || valForm.controls['giftType'].touched)">This field is required</div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Position</label>
                                                    <ngx-select required class="custom-single-select" [(ngModel)]="Setting[1].position" formControlName="giftPosition" name="giftPosition" optionValueField="id" optionTextField="text" (data)="value" [multiple]="false" [items]="positionItems" [disabled]="disabled" placeholder="Select position"></ngx-select>
                                                    <div class="text-danger" *ngIf="valForm.controls['giftPosition'].hasError('required') && (valForm.controls['giftPosition'].dirty || valForm.controls['giftPosition'].touched)">store is required</div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Values</label>
                                                    <ngx-select required [(ngModel)]="filter_values" formControlName="values" name="values" optionValueField="id" optionTextField="text" (data)="value" [multiple]="true" [items]="categoryItems" [disabled]="disabled" placeholder="Select value"></ngx-select>
                                                    <div class="text-danger" *ngIf="valForm.controls['values'].hasError('required') && (valForm.controls['values'].dirty || valForm.controls['values'].touched)">store is required</div>
                                                </div>
                                                <div class="form-group col-md-3 offset-1">
                                                    <label>Active</label>
                                                    <ui-switch formControlName="isActive" [(ngModel)]="Setting[1].isActive" name="isActive"></ui-switch>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                            <label class="mb-3 text-primary"><strong>Type of a tags</strong></label>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label>Name</label>
                                                    <input class="form-control with-focus" required formControlName="tagName" [(ngModel)]="Setting[2].name" name="tagName" type="text" placeholder="Enter name" />
                                                    <div class="text-danger" *ngIf="valForm.controls['tagName'].hasError('required') && (valForm.controls['tagName'].dirty || valForm.controls['tagName'].touched)">This field is required</div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Type</label>
                                                    <input class="form-control with-focus" required formControlName="tagType" [(ngModel)]="Setting[2].type" name="tagType" type="text" placeholder="Enter type" />
                                                    <div class="text-danger" *ngIf="valForm.controls['tagType'].hasError('required') && (valForm.controls['tagType'].dirty || valForm.controls['tagType'].touched)">This field is required</div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Position</label>
                                                    <ngx-select required class="custom-single-select" [(ngModel)]="Setting[2].position" formControlName="tagPosition" name="tagPosition" optionValueField="id" optionTextField="text" (data)="value" [multiple]="false" [items]="positionItems" [disabled]="disabled" placeholder="Select position"></ngx-select>
                                                    <div class="text-danger" *ngIf="valForm.controls['tagPosition'].hasError('required') && (valForm.controls['tagPosition'].dirty || valForm.controls['tagPosition'].touched)">Tag is required</div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Tags</label>
                                                    <ngx-select required [(ngModel)]="filter_tags" formControlName="tags" name="tags" optionValueField="id" optionTextField="text" (data)="value" [multiple]="true" [items]="tagsItems" [disabled]="disabled" placeholder="Select tag"></ngx-select>
                                                    <div class="text-danger" *ngIf="valForm.controls['tags'].hasError('required') && (valForm.controls['tags'].dirty || valForm.controls['tags'].touched)">store is required</div>
                                                </div>
                                                <div class="form-group col-md-3 offset-1">
                                                    <label>Active</label>
                                                    <ui-switch formControlName="isActiveTag" [(ngModel)]="Setting[2].isActive" name="isActiveTag"></ui-switch>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <button class="btn btn-sm btn-secondary mr-2" (click)="dataPost.resetForm({})" type="button">Clear</button>
                                    <button class="btn btn-sm btn-info" type="submit">Save</button>
                                </form>
                            </div>
                        </div>
                        <!-- END card-->
                    </div>
                </div>
                <!-- END row-->
            </div>
        </div>
    </div>
</div>