<!-- START card-->
<div class="content-heading">
    <div class="d-flex justify-content-between w-100 align-items-center">
        <span>Payments</span>
    </div>
</div>
<div class="b custom-tab-header">
    <a href="javascript:void(0)" class="custom-tab-item" (click)="allTabActive=1; allTabClicked()"
        [ngClass]="{'active': (allTabActive == 1)}">All</a>
    <a href="javascript:void(0)" class="custom-tab-item" (click)="allTabActive=2; redeemTabClicked()"
        [ngClass]="{'active': (allTabActive == 2)}">Redeemed</a>
    <a href="javascript:void(0)" class="custom-tab-item" (click)="allTabActive=3; pendingTabClicked()"
        [ngClass]="{'active': (allTabActive == 3)}">Pending(not redeemed)</a>

</div>
<div class="card card-default">
    <!-- loader till the data from the loads -->
    <div class="spinner-border loading" role="status" *ngIf="isLoading"></div>

    <!-- // all orders list start -->
    <div *ngIf="allTabActive===1" class="card-body">
        <!-- START datatable -->
        <div class="row mb-3">
            <div class="col-lg-3">
                <input type='text' class="form-control" placeholder='Type to filter the name column...'
                    (keyup)='updateFilter($event)' />
            </div>
            <div class="col-lg-5"></div>
            <div class="col-lg-4">
                <div class="d-flex justify-content-end">
                    <h4 class="text-primary">Total Revenue : </h4>
                    <h4 class="text-danger">{{totalRevenue}}</h4>
                </div>
            </div>
        </div>
        <ngx-datatable #table class='bootstrap no-detail-row' [scrollbarH]="true" [columnMode]="'force'"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rowsFilter'>
            <ngx-datatable-column [width]="60" name="Sr. No." prop="sr_no"></ngx-datatable-column>
            <!-- <ngx-datatable-column [width]="180" name="Unique Id" prop="id"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Item" prop="item_name"></ngx-datatable-column> -->
            <ngx-datatable-column name="Order Id" prop="id"></ngx-datatable-column>
            <ngx-datatable-column name="Product name" prop="itemInfo.name"></ngx-datatable-column>
            <ngx-datatable-column name="Buyer name" prop="user_name">

            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Created at " prop=""></ngx-datatable-column> -->

            <ngx-datatable-column name="Price (SAR)" prop="itemInfo.price">

            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Commission" prop="commission"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Amount" prop="amount"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Name" prop="gift_receiver.name">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Email" prop="gift_receiver.email">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Phone" prop="gift_receiver.phone">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Device" prop="redeem_status.divice">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Expiry" prop="expiry"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Is redeemed" prop="redeem_status.is_redeemed">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column *ngIf="isVendor" name="Is redeemed" prop="redeem_status.is_redeemed">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <!-- <p>{{value ? value : '--'}}</p> -->
                    <select name="redeem" id="" style="width: 70px" (change)="onChangeAllTab($event.target.value,row )">
                        <option [selected]="value == true" value="true">True</option>
                        <option [selected]="value == false" value="false">False</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Redeemed at" prop="redeem_status.redeemed_at">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Status" prop="type">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Type" >
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <ngx-select required class="custom-single-select" formControlName="giftPosition" name="giftPosition" optionValueField="id" optionTextField="text" (data)="value" [multiple]="false" [items]="positionItems"  placeholder="Select position"></ngx-select>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <div class="form-group col-md-4">
                <label>Position</label>
                <ngx-select required class="custom-single-select" formControlName="giftPosition" name="giftPosition" optionValueField="id" optionTextField="text" [multiple]="false" [items]="positionItems"  placeholder="Select position"></ngx-select>

            </div> -->
        </ngx-datatable>
        <!-- END datatable -->
    </div>
    <!-- all orders list end -->

    <!-- redeemed orders list start -->
    <div *ngIf="allTabActive===3" class="card-body">
        <!-- START datatable -->
        <div class="row mb-3">
            <div class="col-lg-3">
                <input type='text' class="form-control" placeholder='Type to filter the name column...'
                    (keyup)='updateFilter($event)' />
            </div>
            <div class="col-lg-5"></div>
            <div class="col-lg-4">
                <div class="d-flex justify-content-end">
                    <h4 class="text-primary">Total Revenue : </h4>
                    <h4 class="text-danger">{{totalRevenue}}</h4>
                </div>
            </div>
        </div>
        <ngx-datatable #table class='bootstrap no-detail-row' [scrollbarH]="true" [columnMode]="'force'"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rowsFilter'>
            <ngx-datatable-column [width]="60" name="Sr. No." prop="sr_no"></ngx-datatable-column>
            <!-- <ngx-datatable-column [width]="180" name="Unique Id" prop="id"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Item" prop="item_name"></ngx-datatable-column> -->
            <ngx-datatable-column name="Order Id" prop="id"></ngx-datatable-column>
            <ngx-datatable-column name="Product name" prop="itemInfo.name"></ngx-datatable-column>
            <ngx-datatable-column name="Buyer name" prop="user_name">

            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Created at " prop=""></ngx-datatable-column> -->

            <ngx-datatable-column name="Price (SAR)" prop="itemInfo.price">

            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Commission" prop="commission"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Amount" prop="amount"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Name" prop="gift_receiver.name">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Email" prop="gift_receiver.email">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Phone" prop="gift_receiver.phone">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Device" prop="redeem_status.divice">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Expiry" prop="expiry"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Is redeemed" prop="redeem_status.is_redeemed">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column *ngIf="isVendor" name="Is redeemed" prop="redeem_status.is_redeemed">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <!-- <p>{{value ? value : '--'}}</p> -->
                    <select name="redeem" id="" style="width: 70px"
                        (change)="onChangeRedeemedTab($event.target.value,row )">
                        <option [selected]="value == true" value="true">True</option>
                        <option [selected]="value == false" value="false">False</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Redeemed at" prop="redeem_status.redeemed_at">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Status" prop="type">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Type" >
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <ngx-select required class="custom-single-select" formControlName="giftPosition" name="giftPosition" optionValueField="id" optionTextField="text" (data)="value" [multiple]="false" [items]="positionItems"  placeholder="Select position"></ngx-select>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <div class="form-group col-md-4">
                <label>Position</label>
                <ngx-select required class="custom-single-select" formControlName="giftPosition" name="giftPosition" optionValueField="id" optionTextField="text" [multiple]="false" [items]="positionItems"  placeholder="Select position"></ngx-select>

            </div> -->
        </ngx-datatable>
        <!-- END datatable -->
    </div>
    <!-- redeemed orders list end -->


    <!-- not redeemed orders list start -->
    <div *ngIf="allTabActive===2" class="card-body">
        <!-- START datatable -->
        <div class="row mb-3">
            <div class="col-lg-3">
                <input type='text' class="form-control" placeholder='Type to filter the name column...'
                    (keyup)='updateFilter($event)' />
            </div>
            <div class="col-lg-5"></div>
            <div class="col-lg-4">
                <div class="d-flex justify-content-end">
                    <h4 class="text-primary">Total Revenue : </h4>
                    <h4 class="text-danger">{{totalRevenue}}</h4>
                </div>
            </div>
        </div>
        <ngx-datatable #table class='bootstrap no-detail-row' [scrollbarH]="true" [columnMode]="'force'"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rowsFilter'>
            <ngx-datatable-column [width]="60" name="Sr. No." prop="sr_no"></ngx-datatable-column>
            <!-- <ngx-datatable-column [width]="180" name="Unique Id" prop="id"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Item" prop="item_name"></ngx-datatable-column> -->
            <ngx-datatable-column name="Order Id" prop="id"></ngx-datatable-column>
            <ngx-datatable-column name="Product name" prop="itemInfo.name"></ngx-datatable-column>
            <ngx-datatable-column name="Buyer name" prop="user_name">

            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Created at " prop=""></ngx-datatable-column> -->

            <ngx-datatable-column name="Price (SAR)" prop="itemInfo.price">

            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Commission" prop="commission"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Amount" prop="amount"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Name" prop="gift_receiver.name">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Email" prop="gift_receiver.email">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Phone" prop="gift_receiver.phone">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Device" prop="redeem_status.divice">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Expiry" prop="expiry"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Is redeemed" prop="redeem_status.is_redeemed">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column *ngIf="isVendor" name="Is redeemed" prop="redeem_status.is_redeemed">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <!-- <p>{{value ? value : '--'}}</p> -->
                    <select name="redeem" id="" style="width: 70px"
                        (change)="onChangePendingTab($event.target.value,row )">
                        <option [selected]="value == true" value="true">True</option>
                        <option [selected]="value == false" value="false">False</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Redeemed at" prop="redeem_status.redeemed_at">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Status" prop="type">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p>{{value ? value : '--'}}</p>
                </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Type" >
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <ngx-select required class="custom-single-select" formControlName="giftPosition" name="giftPosition" optionValueField="id" optionTextField="text" (data)="value" [multiple]="false" [items]="positionItems"  placeholder="Select position"></ngx-select>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <div class="form-group col-md-4">
                <label>Position</label>
                <ngx-select required class="custom-single-select" formControlName="giftPosition" name="giftPosition" optionValueField="id" optionTextField="text" [multiple]="false" [items]="positionItems"  placeholder="Select position"></ngx-select>

            </div> -->
        </ngx-datatable>
        <!-- END datatable -->
    </div>
    <!-- not redeemed orders list end -->

</div>
<!-- START card-->