<app-header></app-header>

<section class="breadcum-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">FAQ’s</li>
                    </ol>
                </nav>
            </div>
        </div>        
    </div>
</section>

<section class="faq-section">
    <div class="container">        
        <div class="row justify-content-center section_row">
            <div class="col-12 col-md-11">  
                <div class="row">
                    <div class="col-12">
                        <h2 class="page_title">Frequently Asked Questions</h2>
                    </div>
                    <div class="col-12">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <bdi>How it works?</bdi>
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Pizza quattro stagioni (four seasons pizza) is a variety of pizza in Italian cuisine that is prepared in four sections with diverse ingredients, with each section representing one season of the year. four sections with diverse ingredients.
                                 </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <bdi>How to send a gift?</bdi>
                                  </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    Pizza quattro stagioni (four seasons pizza) is a variety of pizza in Italian cuisine that is prepared in four sections with diverse ingredients, with each section representing one season of the year. four sections with diverse ingredients.
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>   
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <h5>For more queries connect with us</h5>                        
                        <button class="base_btn base_primary mt-3" routerLink="/contact/">Contact Us</button>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</section>