.page_title
{
    font-weight: 700;
    font-size: 24px;
    color: var(--color_charkol);
    margin-bottom: 25px;
    text-align: center;
    margin-top: 25px;
}
.faq-section
{
    padding: 50px 0;
}

.faq-section .accordion-button
{
    font-size: 20px;
    font-weight: 600;
}


.faq-section .accordion-item {
    border: 0;
    margin-bottom: 16px;
}
.accordion-header .accordion-button:after
{
    display: none;
}
.faq-section .accordion-header .accordion-button
{
    background: transparent;
    border: 0;
    outline: 0 !important;
    box-shadow: none !important;
}
.faq-section .accordion-button:not(.collapsed)
{
    box-shadow: none !important;
    color: var(--color_primary);
    font-size: 20px;
    font-weight: 600;
}
 
